.card {
  @apply bg-gray-100 rounded-md p-4 divide-y overflow-hidden shadow-lg;
}
.card .card-title {
  @apply mt-0 -ml-4 -mr-4 p-4 pt-0 flex flex-row justify-between items-center;
}
.card .card-body {
}
.card .card-footer {
  @apply mt-4 -ml-4 -mr-4 mb-0 p-4 pb-0;
}
.card .card-footer button {
  margin-right: 0.5rem;
}
.card input,
.card textarea {
  background-color: #f2f4f3;
}
.card p:last-child {
  margin-bottom: 0;
}
.card .action-row {
  @apply flex flex-row justify-between;
}
