.event-page .ctas > a, .event-page .ctas > div {
  margin: 0.5rem 0;
  display: inline-block;
}
.event-page .hero {
  color: #f2f4f3;
  border-radius: 0 1rem 0 1rem;
  padding-top: 5rem;
}
.attendees {
  margin-bottom: 1rem;
}
.event-actions {
  margin-bottom: 1rem;
}
.inverted .card-title, .inverted .card-title a, .inverted .card-title a:visited {
  color: white;
}
.inverted .event-preview {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.event-preview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -2rem 1rem -2rem;
  padding: 0 2rem 1rem 2rem;
  border-bottom: 1px solid #f1efe7;
}
.event-preview:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.calendar-view .button {
  outline: none;
  box-shadow: none;
}
.date-preview {
  text-align: center;
  max-width: 6rem;
  margin-right: 1rem;
  padding: 0.25rem;
  color: #b9b9b9;
  background-color: #1e1e1e;
  font-weight: bold;
}
.date-preview .date {
  font-size: 0.8rem;
}
.event-description {
  max-width: 26rem;
  flex-grow: 1;
}
.event-description h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-description .time {
  color: #656565;
  font-size: 0.7rem;
}
.event-description p {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
.event-description p:last-child {
  margin-bottom: 0;
}
/* Booking page */
.ticket-options {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
button.ticket-option {
  background-color: transparent;
  border: 3px solid #eee;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 0.25rem;
  align-items: center;
  justify-content: center;
}
button.ticket-option h4 {
  font-size: 1.1rem;
  margin: 0.25rem 0;
  text-transform: capitalize;
}
button.ticket-option.active {
  border: 3px solid #68d09b;
}
button.ticket-option.active.unavailable {
  border: 3px solid #d0688d;
}
.payment-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.booking section hr {
  margin: 1rem 0;
}
.ticket {
  max-width: 34rem;
  background-color: #b9b9b9;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
}
@media (max-width: 800px) {
  .ticket {
    padding: 1rem;
  }
  button.ticket-option {
    margin: 0.25rem 1%;
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .event-description h3 {
    font-size: 1.2rem;
  }
  .date-preview .day {
    font-size: 1.2rem;
  }
}
