.tabs {
  display: flex;
  justify-content: space-around;
}
.tabs a {
  /* color: #68d09b; */
  text-transform: uppercase;
  display: block;
  flex-grow: 2;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
  text-decoration: none;
}
.tabs a.active {
  border-bottom: 3px solid #000;
  font-weight: bold;
}
.tab-content .hour {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid #eee;
}
.tab-content .hour label.time {
  margin: 0;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.2rem;
}
.hour-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.hour-content a {
  display: block;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
  padding: 0.5rem;
  width: 9rem;
  position: relative;
}
.hour-content a .photo-container {
  position: absolute;
  background-color: white;
  border-radius: 2.5rem;
  top: -1rem;
  left: -1rem;
}
