@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir/Avenir-Bold.ttf') format('ttf'),
       url('/fonts/Avenir/Avenir-Bold.woff') format('woff');
  font-weight:  800;
  font-style:   bold;
  font-stretch: bold;
}
