@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/Metropolis-Regular.otf') format('otf'),
       url('/fonts/Metropolis/Metropolis-Regular.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/Metropolis-Black.otf') format('otf'),
       url('/fonts/Metropolis/Metropolis-Black.woff') format('woff');
  font-weight:  800;
  font-style:   bold;
  font-stretch: bold;
}
