@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
       url('/fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
       url('/fonts/Open_Sans/OpenSans-Bold.woff') format('woff');
  font-weight:  800;
  font-style:   bold;
  font-stretch: bold;
}
