@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Light.otf') format('otf'),
       url('/fonts/Gotham/Gotham-Light.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Bold.otf') format('otf'),
       url('/fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight:  800;
  font-style:   bold;
  font-stretch: bold;
}
